.header {
    background-color: #24a2b8; 
    padding: 15px;
    color: black;
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.app-container {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
